.sbox{
    background-image: linear-gradient(to right top, #1f84f9, #207ff2, #207aea, #2076e3, #2071dc, #226cd5, #2366cf, #2461c8, #2759c0, #2a51b7, #2c4aaf, #2d42a6);
    margin: 5px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 5px;
    
    
    }

    
.in{
    padding-bottom: 15px;  
    
}
#sboxheading{
    color: white;
    margin-bottom: 8px;
    

}
.links a{
    color: white;
    text-decoration: underline;
    text-decoration-style:dashed;
}
.links{
    color: white;
    font-size: 8pt;
}